/include/ "system-conf.dtsi"

/ {
    model = "Ultra96 ZynqMP";
};

/{
    chosen {
        bootargs = "earlyprintk clk_ignore_unused cma=1664M root=/dev/mmcblk0p2 rw rootwait";
    };

};

/ {
	ina226-u35 {
		compatible = "iio-hwmon";
		io-channels = <&u35 0x0 &u35 0x1 &u35 0x2 &u35 0x3>;
	};
};

&i2csw_5 {
	u35: ina226@40 {
		compatible = "ti,ina226";
		#io-channel-cells = <1>;
		label = "ina226-u35";
		reg = <0x40>;
		shunt-resistor = <0x2710>;
	};
};

&spi0 {
		is-decoded-cs = <0>;
		num-cs = <1>;
		status = "okay";
		spidev@0x00 {
				compatible = "adi,swspi";
				spi-max-frequency = <1000000>;
				reg = <0>;
		};
};

&spi1 {
		is-decoded-cs = <0>;
		num-cs = <1>;
		status = "okay";
		spidev@0x00 {
				compatible = "adi,swspi";
				spi-max-frequency = <1000000>;
				reg = <0>;
		};
};

/ {
     dpu: dpu@8f000000 {
         compatible = "deephi, dpu";
         reg = <0x0 0x8f000000 0x0 0x700>;
         interrupts = <0x0 106 0x1 0x0 107 0x1>;
         interrupt-parent = <&gic>;
         core-num = <0x2>;

         softmax@800001000 {
            compatible = "deephi,smfc";
            interrupt-parent = <&gic>;
            interrupts = <0x0 110 0x1>;
            core-num = <0x1>;
        };
     };
     dpcma: dpcma {
         compatible = "deephi,cma";
     };

};


